.DS_Store
.AppleDouble
.LSOverride
Icon?
!assets/icons/
!assets/icons/**
!src/assets/images/icons/
!src/assets/images/icons/**
._*
.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk